<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'books/list', book: @book, user: current_user %>
    <div class="col-md-8 offset-md-1">
      <h1>Followers</h1>
      <% if @users.count == 0 %>
      <h2>This user doesn't have any following  users.</h2>
      <% else %>
     <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>    
              <th colspan="3"></th>
            </tr>
          </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= attachment_image_tag user, :profile_image, format: 'jpeg', size:"50x50", fallback: "no_image.jpg"%></td>
            <td><%= user.name %></td>
            <td>Follows：<%= user.following_user.count %></td>
            <td>Followers : <%= user.followed_user.count %></td>
            </tr>
        <% end %>
      </tbody>
      </table>
      <% end %>