<div class="col-mid-3">
    <h1>User info</h1><br>
    <table>
      <tbody>
        <tr>
          <td><%= attachment_image_tag user, :profile_image, format: 'jpeg', size:"100x100", fallback: "no_image.jpg" %></td>
        </tr>
        <tr>
          <th>name</th>
          <th><%= user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= user.introduction %></th>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-outline-secondary btn-block ">
      <%= link_to  edit_user_path(user) do %>
        <i class="fas fa-user-edit"></i>
      <% end %>
    </button>
    <div class="new_book">
      <h1>New book</h1>
      <%= form_with model:book , local:true do |f| %>
      <p>Title</p>
      <%= f.text_field :title %>
      <p>Opinion</p>
      <%= f.text_area :opinion %> </br>
      
         <%= f.submit 'Create Book', {class:"btn btn-success"} %>
      <% end %>
    </div>
</div>