<%= render 'layouts/error_messages', book:@book %>
<h1>Book Edit</h1>
<%= form_with model:@book, local:true do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>Opinion</p>
<%= f.text_area :opinion %><br>
<%= f.submit 'Update Book'%>
<% end %>

<%= link_to 'Show', book_path(@book.id) %> |
<%= link_to 'Back', books_path %>