<table>
<tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.user.name %></td>
      <td><%= book.title %></td>
      <td><%= book.opinion %></td>
    </tr>
  <% end %>
</tbody>
</table>

<% form_with model:@book , local:true do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>Opinion</p>
<% f.text_area :opinion %>
<%= f.submit 'Create Book'%>
<% end %>

